/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #682222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
label {
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.input-field {
  margin-bottom: 15px;
}
.input-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  clear: both;
  float: left;
}
.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button.btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button.btn:hover {
  background-color: #45a049;
}
.account-link {
  text-align: center;
  margin-top: 10px;
}

.account-link a {
  color: #4caf50;
  text-decoration: none;
}

.account-link a:hover {
  text-decoration: underline;
}
.forgot-password-link {
  text-align: center;
  margin-top: 10px;
}

.forgot-password-link a {
  color: #4caf50;
  text-decoration: none;
}

.forgot-password-link a:hover {
  text-decoration: underline;
} */
