.swnavbar {
  display: flex;
  width: 100%;
  padding: 20px;
  background: #f1eae7;
  height: 100px;
}
.fstdiv {
  width: 30%;
  left: 0;
  display: flex;
  justify-content: start;
}
.secdiv {
  width: 70%;
  display: flex;
  justify-content: end;
  gap: 30px;
  align-items: center;
}
.secdiv div:hover {
  color: orange;
  cursor: pointer;
}
.secdiv input {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
}
.secdiv input:active {
  border: 1px solid orange;
  outline: 1px solid orange;
}
.secdiv input:focus {
  border: 1px solid orange;
  outline: 1px solid orange;
}
.profileopt {
  border: none;
  background: none;
  outline: none;
}

.profileopt:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.profileopt:active {
  border: none;
  outline: none;
}
